@import url(http://fonts.googleapis.com/css?family=Karla:700,400,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:700,400);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic);

html {
	/*font-family: 'Karla', sans-serif;*/
	text-rendering:optimizeLegibility;
	height: 100%;
	overflow: hidden;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
	margin: 0;
	height: 100%;
	position: relative;
}
.center {
	display: table;
	margin: auto;
}
.start #front {
	background: black;
	opacity: 1;
	z-index: 999;
	display: table;
	margin: auto;
	height: 100%;
	width: 100%;
	position: absolute;
	top:0;
	left:0;
}
.game #front {
	display: none;
}
.title {
	font-family: 'Inconsolata', sans-serif;
}
.start #front .title {
	position: absolute;
	width: 100%;
}
.start #front .title .box {
	display: table;
	margin: auto;
	border: 5px solid white;
	padding: 10px;
	opacity: 0;
}
.start #front h1 {
	width: 100%;
	font-size: 20px;
	line-height: 36px;
	color:white;
	font-weight: 700;
	text-align: center;
	margin: 0;
	text-transform: uppercase;
}
.start #front h1:nth-child(1) {
	letter-spacing: 15px;
}
.start #front h1:nth-child(2) {
	letter-spacing: 15px;
}
.start #front h1:nth-child(3) {
	letter-spacing: 19px;
}
.start #front h1:nth-child(4) {
	letter-spacing: 25px;
}
.start #front h1:nth-child(5) {
	letter-spacing: 9px;
}
#begin:hover {
	cursor: pointer;
}
.start #front img {
	width: 20px;
	display: table;
	margin: 40px auto 0 auto;
}
.start #front .title.top img{
	display: none;
	
}
.start #front img:hover {
	cursor: pointer;
}
header  {
	z-index: 9999;
	position: absolute;
	/*height: calc(100% - 30px);*/
	top:0px !important;
	left:0px;
    /*border-top:10px solid black;*/
    display: block;
    -webkit-transform:translateX(-270px);
	-moz-transform:translateX(-270px);
	-o-transform:translateX(-270px);
	transform:translateX(-270px);
	transition: transform 300ms ease-in-out;
    -o-transition: transform 300ms ease-in-out;
	-moz-transition: -moz-transform 300ms ease-in-out;
	-webkit-transition: -webkit-transform 300ms ease-in-out;
	opacity: 0;
	width:250px;
	height: 100%;
	/*padding-top:10px;*/
}
.game header {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}
header .box {
	display:block;
	width: 200px;
	background: rgba(255,255,255,1);
    border:4px solid black;
    margin:10px;
    padding:10px;
    background-position: center !important;
    background-size: 40% !important;
    background-repeat: no-repeat !important;
    position: fixed;
    /*box-shadow: 0px 0px 55px 20px rgba(255,255,255,.6);
    -moz-box-shadow: 0px 0px 55px 20px rgba(255,255,255,.6);
    -webkit-box-shadow: 0px 0px 55px 20px rgba(255,255,255,.6);*/
/*    transition: width 300ms cubic-bezier(.68,-0.39,.34,1.3), height 300ms cubic-bezier(.68,-0.39,.34,1.3);
    -o-transition: width 300ms cubic-bezier(.68,-0.39,.34,1.3), height 300ms cubic-bezier(.68,-0.39,.34,1.3);
    -moz-transition: width 300ms cubic-bezier(.68,-0.39,.34,1.3), height 300ms cubic-bezier(.68,-0.39,.34,1.3);
    -webkit-transition: width 300ms cubic-bezier(.68,-0.39,.34,1.3), height 300ms cubic-bezier(.68,-0.39,.34,1.3);*/
}
header .box:hover  {
	/*color: transparent !important;*/
	cursor: move;
}
header .box.hide {
	border:0;
	width: 0;
	height: 0;
	margin:14px;
	background: transparent;
	padding: 0;
}
header .box.hide .content {
	display: none;
}
header .close {
	opacity: 1;
	position: absolute;
	top:-8px;
	left: -8px;
	width:13px;
	height:13px;
	border:3px solid black;
	border-radius: 100%;
	background: white;
	background-image:url('img/close.svg');
	background-size: 13px;
	background-position: center;
	background-repeat: no-repeat;
	transition:all 100ms ease-in-out;
	-o-transition:all 100ms ease-in-out;
	-moz-transition:all 100ms ease-in-out;
	-webkit-transition:all 100ms ease-in-out;
}
header .box.hide .close {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
header .box.hide .close:hover {
	cursor: move;
}
header .box .close:hover {
	cursor: pointer;
}
header .title {
	height:200px;
}
header .title h1 {
	display: table;
	margin: auto;
 	width: 100%;
	font-size: 27px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin: 0 0 14px 0;
}
header .title h1:nth-child(1) {
	letter-spacing: 15px;
}
header .title h1:nth-child(2) {
	letter-spacing: 15px;
}
header .title h1:nth-child(3) {
	letter-spacing: 19px;
}
header .title h1:nth-child(4) {
	letter-spacing: 25px;
}
header .title h1:nth-child(5) {
	letter-spacing: 8px;
}
header .instructions {
	font-family: 'Karla'
}
header .instructions ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
header .instructions ul li {
	margin-bottom: 8px;
	font-weight: 700;
	font-size:19px;
}
header .instructions ul li a {
	color: black;
	font-style:underline;
}
header .instructions ul li a:hover {
	cursor: help;
}
header .instructions ul li:last-child {
	margin:0;
}
.input.box {
	padding:0 !important;
	display: block;
	width: 220px;
}
.input.box input {
	overflow: visible;
	display: table;
	width: 220px;
	background: white;
	color:black;
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	letter-spacing: 0px;
	text-align: center;
	letter-spacing: 0px;
	outline: none;
	border: 0;
	margin:0px;
	padding: 0;
	transition: opacity 400ms ease-in-out;
	-moz-transition: opacity 400ms ease-in-out;
	-webkit-transition: opacity 400ms ease-in-out;
}
.input input:hover {
	opacity:1;
	color:black !important;
}
.input.right {
	color:green;
	border-color:green;
}
.input.wrong {
	color:red;
	border-color:red;
}
canvas {
	position: fixed;
	top:0;
	left:0;
	display: table;
	image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    
}
.game canvas {
	display: none;
}
.levelTxt {
	position: absolute;
	z-index: 99999999999;
	width: 100%;
	height:80px;
	top: calc(50% - 40px);
	top: -o-calc(50% - 40px);
	top: -moz-calc(50% - 40px);
	top: -webkit-calc(50% - 40px);
	left: 0;
	display: table;
	opacity: 0;
}
.levelTxt h1 {
	display: table-cell;
	vertical-align: middle;
	font-family: 'Karla', sans-serif;
	font-size: 80px;
	text-align: center;
}
.levelTxt h1 .number {

}
.mobile #begin {
	display: none;
}
#mobile {
	display: none;
	font-family: 'Karla', sans-serif;
}
.mobile #mobile  {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 0 20px;
}
.mobile #mobile h1 {
	font-size: 24px;
	letter-spacing: 0 !important;
	line-height: 25px;
}
.mobile #mobile h2 {

}
.mobile #mobile .download {
	width:50px;
	height:50px;
	background: black;
	display: table;
	margin:auto;
}




